@use "@/styles/mixins.scss" as *;
@use "@/styles/variables.scss" as *;

.title {
    text-align: center;
    color: #000;
    font-size: 60px;
    font-family: $font-primary;

    font-weight: 400;

    @include tablet {
        font-size: 48px;
        font-weight: 500;

    }

    @include mobile {
        font-size: 34px;
        font-weight: 500;

    }
}