@use "@/styles/mixins.scss" as *;
@use "@/styles/variables.scss" as *;

.hero {
  position: relative;
  width: 100%;
  min-height: 100svh;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bgPath {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 95%;
  height: auto;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  opacity: 0.8;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    display: none;
  }
}

// ─── Main Content ─────────────────────────────────────────────────────────

.content {
  position: relative;
  z-index: 1;

  @include main-container;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;

  @include desktop-sm {
    padding-top: 140px;
    gap: 32px;
  }

  @include tablet {
    padding-top: 130px;
    gap: 35px;
  }

  @include mobile {
    padding-top: 110px;
    gap: 30px;
  }
}

.lasagne {
  position: absolute;
  bottom: 200px;
  left: 90px;
  border-radius: 27px;
}

.sarmi {
  position: absolute;
  top: 100px;
  right: 150px;
  border-radius: 27px;
}

.subtitle {
  text-align: center;
  color: #747577;
  font-family: $font-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.title {
  max-width: 606px;
  color: #000;
  text-align: center;
  font-family: Comfortaa;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
}
