// Colors
$prim-yellow: #F0AA18;
$prim-black: #3B3A3A;
$bg-color: #F5F5F7;
$bg-green: #CCF5D5;
$text-green: #04AC2A;

// Breakpoints (Desktop-first)
$desktop-large: 1440px;
$desktop-small: 1200px;
$tablet: 768px;
$mobile: 320px;


//Text
$font-primary: "Comfortaa";
$font-secondary: "Inter";

