@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;


.page {
    display: flex;
    flex-direction: column;
    gap: 58px;

    @include desktop-sm() {
        gap: 54px;
    }
    @include tablet() {
        gap: 44px;
    }
    @include mobile() {
        gap: 32px;
    }
}
