@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.section {
    width: 100%;
}

.title {
    margin-bottom: 80px;

    @include tablet {
        margin-bottom: 60px;
    }

    @include mobile {
        margin-bottom: 24px;
    }
}

.content {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
        gap: 32px;
        padding: 0 44px;
        margin: 0 auto;
    }

    @include mobile {
        gap: 16px;
        padding: 0;
    }
}

.leftContent {
    width: 616px;
    max-width: 100%;

    @include tablet {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }
}

.mapContent {
    position: relative;
    width: 100%;
    max-width: 616px;

    @include tablet {
        max-width: 100%;
    }

    @include mobile {
        max-width: 100%;
    }
}

.locationInfo {
    position: absolute;
    top: -30px;
    right: -60px;
    background-color: $prim-black;
    padding: 12px 32px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    z-index: 2;
    width: max-content;
    white-space: nowrap;
    font-family: $font-secondary;

    @include tablet {
        top: -24px;
        right: 0;
        font-size: 16px;
        padding: 10px 24px;
    }

    @include mobile {
        position: static;
        margin-bottom: 12px;
        border-radius: 20px;
        width: 100%;
        white-space: normal;
        padding: 16px 24px;
    }
}

.map {
    border-radius: 40px;
    border: 1px solid #B2B3B5;
    width: 100%;
    display: block;
}