@use "@/styles/mixins.scss" as *;
@use "@/styles/variables.scss" as *;

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include tablet {
    gap: 44px;
  }

  @include mobile {
    gap: 32px;
  }
}
